{% extends 'base.html' %}

{% block title %} User page {% endblock %}

{% block body %}
<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <h1>Mis Mensajes</h1>
    <a href="{{ url_for('messages.create')}}" class = 'btn btn-primary'>Nuevo</a>

    {% for message in messages %}
    {% if loop.index0 % 3 == 0 %}
  <div class="row">
    {% endif %}

      <div class="col">  
        <div class='card m-3' >      
            <img src="{{ message['picture']}}" class = 'card-img-top' alt="{{ message['title']}}"  >
            <div class="card-body">                   
            <h3 class="card-title">{{ message['title'] }}</h3>         
            <p class="card-text">{{ message['content'] }}</p>         
            <a href="{{ url_for('messages.update', id = message.id)}}" class="btn btn-warning">Actualizar</a>         
            <form action="{{url_for('messages.delete')}}" method="post" onsubmit ="return confirm('tai seguro?')" class="d-inline">
              <input type="hidden" name="id" value="{{message.id}}">
              <input type="submit" value="Eliminar" class="btn btn-danger">
            </form>
            </div>
        </div>
      </div>
    {% endfor %}
  </div>
</main>
{% endblock %}